<div [ngSwitch]="MensajeFooter">   
    <span *ngSwitchCase="'1'">
        <p>Copyright 2019</p>
        <p><a href=”#”>Ley de Cookies</a></p>
        <p>Esta es nuestra dirección de contacto</p>
        <p>Síguenos en <a href=”#”>Facebook</a></p>
    </span> 
    <span *ngSwitchCase="'2'">
        <p>Copyright 2020</p>
        <p><a href=”#”>Ley de Proteccion de datos</a></p>
        <p>Esta es nuestra dirección de contacto</p>
        <p>Síguenos en <a href=”#”>Instagram</a></p>
    </span> 
    <span *ngSwitchCase="'3'">
        <p>Copyright 2021</p>
        <p><a href=”#”>Ley de Proteccion del consumidor</a></p>
        <p>Esta es nuestra dirección de contacto</p>
        <p>Síguenos en <a href=”#”>Pagina Web</a></p>
    </span> 

</div>